<div class="container">
  <h2>Filtrez votre recherche !</h2>
  <div class="row" *ngIf="selector == true">
    <div class="col-md-4">
      <div class="form-group">
        <label>Nom du Visiteur :</label>
        <input type="text" class="form-control" placeholder="Nom" [formControl]="nom_visiteur">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_secteur">Secteur :</label>
        <select class="form-control" id="id_secteur" [formControl]="id_secteur">
          <option value="">Sélectionner un secteur</option>
          <option *ngFor="let secteur of getListeSecteur() | async" [value]="secteur.id_secteur">
            {{ secteur.lib_secteur }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_laboratoire">Laboratoire :</label>
        <select class="form-control" id="id_laboratoire" [formControl]="id_laboratoire">
          <option value="">Sélectionner un laboratoire</option>
          <option *ngFor="let laboratoire of getListeLaboratoire() | async" [value]="laboratoire.id_laboratoire">
            {{ laboratoire.nom_laboratoire }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selector == false">
    <div class="col-md-4">
      <div class="form-group">
        <label>Saisissez le laboratoire, le nom ou le secteur</label>
        <input type="text" class="form-control" placeholder="Nom, laboratoire ou secteur" [formControl]="nom_visiteur">
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="researchVisiteur()">Rechercher</button>
  <button class="btn btn-primary" (click)="researchAvancee()" *ngIf="selector == true">Essayer la recherche avancée !
  </button>
  <button class="btn btn-primary" (click)="researchAvancee()" *ngIf="selector == false">Reprendre la recherche
    classique
  </button>
</div>
<div class="container">

</div>
