.container {
  margin-top: 20px;
}

.home-section {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.home-section h2 {
  color: #333;
}

.home-section p {
  margin-bottom: 20px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

.action-button:hover {
  background-color: #0056b3;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-section {
  text-align: center;
}

.testimonial {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
  font-style: italic;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
}

.key-metrics {
  display: flex;
  justify-content: space-between;
}

.metric {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
}

.metric h3 {
  margin-top: 0;
}

.metric p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.button {
  align-self: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto, Helvetica Neue, sans-serif", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  width: fit-content;
  word-break: keep-all;
  border-radius: 7px;
  color: white;
}

.button-primary {
  background-color: #107aca;
  color: white;
}

.button-primary:hover {
  background-color: #045fae;
  color: white;
}

.home-section ul {
  list-style-type: none;
  padding: 0;
}

.home-section ul li {
  margin-bottom: 10px;
}

.home-section ul li a {
  color: #107aca;
  text-decoration: none;
  transition: color 0.3s;
}

.home-section ul li a:hover {
  color: #045fae;
}
