.body {
  padding-top: 70px; /* Ajuster la marge supérieure pour éviter que le menu ne recouvre le contenu */
}

.container {
  width: 100%; /* Utilisez 100% de la largeur de la fenêtre */
}

.navbar {
  border: none;
  position: fixed; /* Fixe la barre de navigation en haut de la page */
  width: 100%; /* Prend 100% de la largeur */
  top: 0; /* Place la barre en haut de la page */
  z-index: 1000; /* Assure que la barre de navigation est au-dessus du contenu */
  background-color: #344D59 ; /* Couleur de fond de la barre de navigation */
  left: 0;
}

.navbar-nav {
  margin: 0; /* Réinitialisez les marges de la liste */
  display: inline-block; /* Afficher les éléments du menu en ligne */

}

.navbar-nav > li {
  display: inline-block;
}

.navbar-nav > li > a {
  padding: 15px; /* Ajoutez de l'espace autour des liens pour une meilleure accessibilité tactile */
}

.navbar-right {
  float: right; /* Alignez les éléments du côté droit de la barre de navigation */
  display: inline-block; /* Afficher les éléments du menu en ligne */

}

.navbar-default .navbar-nav > li > a {
  color: black; /* Couleur du texte des liens du menu */
  display: inline-block; /* Afficher les éléments du menu en ligne */
  padding: 15px; /* Ajouter de l'espace autour des liens pour une meilleure accessibilité tactile */
  text-decoration: none; /* Supprimer la soulignement des liens */
  font-family: 'Arial', sans-serif; /* Police d'écriture professionnelle */
  font-weight: bold; /* Texte en gras */
}

.navbar-default .navbar-nav .active > a {
  background-color: #709CA7; /* Couleur de fond du lien actif */
}

.navbar-default .navbar-toggle {
  border-color: #ffffff; /* Couleur de la bordure du bouton de menu déroulant */
}

.navbar-nav > li > a:hover {
  background-color: #709CA7; /* Couleur de fond lorsqu'un lien est survolé */
}

/* Style de base pour la liste déroulante */
.deroulant {
  display: inline-block;
}

/* Style pour le lien principal */
.deroulant a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Style pour la liste déroulante */
.deroulant ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Style pour les éléments de la liste déroulante */
.deroulant ul li {
  padding: 10px;
}

/* Lorsque le pointeur est sur l'élément parent, afficher la liste déroulante */
.deroulant:hover ul {
  display: block;
}

/* Style pour les liens de la liste déroulante */
.deroulant ul li a {
  color: #333;
  text-decoration: none;
}

/* Lorsque le pointeur est sur les liens de la liste déroulante, changer la couleur de fond */
.deroulant ul li:hover {
  background-color: #709CA7;
}

.deroulant > a::after {
  content: "▼";
  font-size: 12px;
}

.custom-search-form {
  display: flex;
  align-items: center;
}

.custom-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px; /* Ajoute une marge entre le champ de recherche et le bouton */
}

.custom-search-button {
  padding: 8px 12px;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
}

.custom-search-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

#menuImg {
  width: auto;
  height: 30px;
}
