.body {
  width: 100%;
  background-color: #00264c;
  height: 50px;
  color: white;
}

.navbar-nav {
  margin: 0;
  display: inline-block;
  color: white;
}

.navbar-right {
  float: right;
  color: white;
}

#menuImg {
  width: auto;
  height: 30px;
}

.size {
  font-family: "Lato";
  font-size: large;
  font-weight: bold;
  padding: 15px;
  color: white;
}
