<body>
<div class="header">
  <div class="header_wrapper">
    <button mat-button class="header_logo" routerLink="/home"><img src="../../../../assets/img/logo_GSB.svg" alt=""></button>
    <div class="header_menu">
      <div>
        <button mat-button class="button header-button"
                [matMenuTriggerFor]="frais" *ngIf="utilisateurConnecte">Frais
        </button>
      </div>
      <div>
        <button mat-button class="button header-button"
                [matMenuTriggerFor]="activite" *ngIf="utilisateurConnecte">Activité
        </button>
      </div>
      <div>
        <button mat-button class="button header-button"
                routerLink="/searchVisiteur" *ngIf="utilisateurConnecte">Rechercher un visiteur
        </button>
      </div>
    </div>
    <div class="header_links">
      <button type="button" class="button button-primary" (click)="openRecontact()"
              *ngIf="utilisateurConnecte  == false">Être recontacté
      </button>
      <button mat-icon-button [matMenuTriggerFor]="options" aria-label="Options">
        <mat-icon>dialpad</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #frais="matMenu">
  <!--
  <div class="header_submenu">
    <button routerLink="/frais/liste">
      <div class="content_submenu">
        <div class="tittle_submenu">
          Liste Frais
        </div>
        <div class="paragraph_submenu">
          Visualisez votre liste de frais détaillées
        </div>
      </div>
    </button>
    <button routerLink="/frais/ajout">Ajout Frais</button>
  </div>
  -->
  <button mat-menu-item routerLink="/frais/liste">Liste Frais</button>
  <button mat-menu-item routerLink="/frais/ajout">Ajout Frais</button>
</mat-menu>
<mat-menu #activite="matMenu">
  <button mat-menu-item routerLink="/activite/liste">Liste Activité</button>
  <button mat-menu-item routerLink="/activite/ajout">Ajout Activité</button>
</mat-menu>

<mat-menu #options="matMenu" xPosition="before">
  <button mat-menu-item (click)="profil()" *ngIf="utilisateurConnecte">Mon profil</button>
  <button mat-menu-item routerLink="/login" *ngIf="utilisateurConnecte  == false">Se connecter</button>
  <button mat-menu-item (click)="logout()" *ngIf="utilisateurConnecte">Se déconnecter</button>
</mat-menu>
</body>
