<body class="body">
  <div class="nav navbar-nav">
    <button mat-button class="size" routerLink="/home">Accueil</button>
    <button mat-button class="size" [matMenuTriggerFor]="frais" *ngIf="utilisateurConnecte">Frais</button>
    <button mat-button class="size" [matMenuTriggerFor]="activite" *ngIf="utilisateurConnecte">Activité</button>
    <button mat-button class="size" routerLink="/searchVisiteur" *ngIf="utilisateurConnecte">Rechercher un visiteur</button>
  </div>
  <div class="nav navbar-nav navbar-right">
    <button mat-button class="size" routerLink="/login" *ngIf="utilisateurConnecte  == false">Se connecter</button>
    <button mat-button class="size" (click)="logout()" *ngIf="utilisateurConnecte">Se déconnecter</button>
    <button mat-button class="size" (click)="profil()" *ngIf="utilisateurConnecte"><img src="../../../../assets/img/menuProfil.png" id="menuImg"></button>
  </div>
</body>

<mat-menu #frais="matMenu">
  <button mat-menu-item routerLink="/frais/liste">Liste Frais</button>
  <button mat-menu-item routerLink="/frais/ajout">Ajout Frais</button>
</mat-menu>
<mat-menu #activite="matMenu">
  <button mat-menu-item routerLink="/frais/liste">Liste Activité</button>
  <button mat-menu-item routerLink="/frais/ajout">Ajout Activité</button>
</mat-menu>
