<body>
<div class="header">
  <div class="header_wrapper">
    <button mat-button class="header_logo" routerLink="/home"><img src="../../../../assets/img/logo_GSB.svg"></button>
    <div class="header_menu">
      <div>
        <button mat-button style="color: white; font-weight: 700; font-size: 14px;" class="button" [matMenuTriggerFor]="frais" *ngIf="utilisateurConnecte">Frais</button>
      </div>
      <div>
        <button mat-button style="color: white; font-weight: 700; font-size: 14px;" class="button" [matMenuTriggerFor]="activite" *ngIf="utilisateurConnecte">Activité</button>
      </div>
      <div>
        <button mat-button style="color: white; font-weight: 700; font-size: 14px;" class="button" routerLink="/searchVisiteur" *ngIf="utilisateurConnecte">Rechercher un visiteur</button>
      </div>
    </div>
    <div class="header_links">
      <button type="button" class="button button-primary" (click)="openRecontact()">Être recontacté</button>
      <button mat-icon-button class="size" [matMenuTriggerFor]="options" aria-label="Options"><mat-icon style="color: white">dialpad</mat-icon></button>
    </div>
  </div>
</div>

<mat-menu #frais="matMenu">
  <button mat-menu-item routerLink="/frais/liste">Liste Frais</button>
  <button mat-menu-item routerLink="/frais/ajout">Ajout Frais</button>
</mat-menu>
<mat-menu #activite="matMenu">
  <button mat-menu-item routerLink="/frais/liste">Liste Activité</button>
  <button mat-menu-item routerLink="/frais/ajout">Ajout Activité</button>
</mat-menu>

<mat-menu #options="matMenu">
  <button mat-menu-item (click)="profil()" *ngIf="utilisateurConnecte">Mon profil</button>
  <button mat-menu-item routerLink="/login" *ngIf="utilisateurConnecte  == false">Se connecter</button>
  <button mat-menu-item (click)="logout()" *ngIf="utilisateurConnecte">Se déconnecter</button>
</mat-menu>
</body>
