/* Styles généraux */
.body {
  padding-top: 70px; /* Ajuster la marge supérieure pour éviter que le menu ne recouvre le contenu */
}

.container {
  width: 100%; /* Utiliser la largeur maximale disponible */
}

/* Styles du menu de navigation */
.navbar {
  background-color: #f0f0f0; /* Couleur de fond de la barre de navigation */
  border: none; /* Supprimer la bordure de la barre de navigation */
}

.navbar-default .navbar-nav > li > a {
  color: black; /* Couleur du texte des liens du menu */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: whitesmoke; /* Couleur de fond lorsqu'un lien est survolé ou actif */
}

.navbar-default .navbar-nav .active > a {
  background-color: #3071a9; /* Couleur de fond du lien actif */
}

.navbar-default .navbar-toggle {
  border-color: #ffffff; /* Couleur de la bordure du bouton de menu déroulant */
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3071a9; /* Couleur de fond du bouton de menu déroulant au survol ou au focus */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; /* Couleur des barres du bouton de menu déroulant */
}

/* Styles pour placer le menu en haut et aligner les éléments côte à côte */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que le menu est au-dessus du contenu */
}

.navbar-collapse {
  text-align: center; /* Aligner les liens du menu au centre */
  display: flex; /* Utiliser le modèle de boîte flexible */
  justify-content: space-between; /* Aligner les éléments du menu côte à côte avec un espace entre eux */
}

.navbar-collapse ul {
  margin: 0;
  padding: 0;
  display: flex; /* Utiliser le modèle de boîte flexible pour les éléments de la liste */
}

.navbar-collapse li {
  margin: 0 10px; /* Ajouter de la marge entre les éléments du menu */
}

.navbar-right {
  margin-top: 15px; /* Ajuster la marge supérieure pour l'alignement vertical */
}
