body {
  font-family: 'Arial', sans-serif;
  background-image: url("../../../../assets/img/fondEcran/fondEcran-GsbLogin.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgba(255, 0, 0, 0.7);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #45a049;
}

.ng-valid[required] {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #A94442;
}
