<body>
<h1 routerLink="">Inscrivez-vous</h1>
<div class="container">

  <div *ngIf="actuallyStep == 1" class="step1">
    <mat-form-field hintLabel="Max 15 caractères" style="padding-bottom: 5px;width: 100%">
      <mat-label>Entrez votre login</mat-label>
      <input matInput #input maxlength="15" placeholder="Ex. Nougat" [formControl]="email">
      <mat-hint align="end">{{input.value.length}}/15</mat-hint>
    </mat-form-field>
    <div style="float: right;">
      <button type="button" class="btn btn-outline-danger" (click)="return()">Annuler</button>&nbsp;
      <button type="button" class="btn btn-outline-info" (click)="actuallyStep = 2">Suivant ▶︎</button>
    </div>
  </div>

  <div *ngIf="actuallyStep == 2" class="step step2">
    <mat-form-field style="width: 100%;">
      <mat-label>Entrez votre mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Répétez votre mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="repetPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div style="float: right;">
      <button type="button" class="btn btn-outline-warning" (click)="actuallyStep = 1">Retour</button>&nbsp;
      <button type="button" class="btn btn-outline-info" (click)="actuallyStep = 3">Suivant ▶︎</button>
    </div>
  </div>

  <div *ngIf="actuallyStep == 3" class="step step3">
    <mat-form-field hintLabel="Max 15 caractères" style="padding-bottom: 5px;width: 100%">
      <mat-label>Entrez votre nom</mat-label>
      <input matInput #input maxlength="15" placeholder="Ex. Nguyen">
      <mat-hint align="end">{{input.value.length}}/15</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 15 caractères" style="padding-bottom: 5px;width: 100%">
      <mat-label>Entrez votre Prénom</mat-label>
      <input matInput #input maxlength="15" placeholder="Ex. Mathéo">
      <mat-hint align="end">{{input.value.length}}/15</mat-hint>
    </mat-form-field>
    <div style="float: right;">
      <button type="button" class="btn btn-outline-warning" (click)="actuallyStep = 2">Retour</button>&nbsp;
      <button type="button" class="btn btn-outline-info" (click)="actuallyStep = 4">Suivant ▶︎</button>
    </div>
  </div>

  <div *ngIf="actuallyStep == 4" class="step step4">
    <mat-form-field hintLabel="Max 30 caractères" style="padding-bottom: 5px;width: 100%">
      <mat-label>Votre Adresse</mat-label>
      <input matInput #input maxlength="30" placeholder="Ex. 12 avenue Andrei Sakharov" [formControl]="adresse_visiteur">
      <mat-hint align="end">{{input.value.length}}/30</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 5 chiffres" style="padding-bottom: 5px;width: 100%">
      <mat-label>Votre Code Postal</mat-label>
      <input matInput #input maxlength="5" placeholder="Ex. 69009" [formControl]="cp_visiteur">
      <mat-hint align="end">{{input.value.length}}/5</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 50 caractères" style="padding-bottom: 5px;width: 100%">
      <mat-label>Votre Ville</mat-label>
      <input matInput #input maxlength="50" placeholder="Ex. Lyon" [formControl]="ville_visiteur">
      <mat-hint align="end">{{input.value.length}}/50</mat-hint>
    </mat-form-field>
    <div style="float: right;">
      <button type="button" class="btn btn-outline-warning" (click)="actuallyStep = 3">Retour</button>&nbsp;
      <button type="button" class="btn btn-outline-info" (click)="actuallyStep = 5">Suivant ▶︎</button>
    </div>
  </div>

  <div *ngIf="actuallyStep == 5" class="step step5">
    <div class="form-group">
      <label for="id_secteur">Secteur :</label>
      <select class="form-control" id="id_secteur" [formControl]="id_secteur">
        <option *ngFor="let secteur of getListeSecteur() | async" [value]="secteur.id_secteur">
          {{ secteur.lib_secteur }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_laboratoire">Laboratoire :</label>
      <select class="form-control" id="id_laboratoire" [formControl]="id_laboratoire">
        <option *ngFor="let laboratoire of getListeLaboratoire() | async" [value]="laboratoire.id_laboratoire">
          {{ laboratoire.nom_laboratoire }}
        </option>
      </select>
    </div>
    <div style="float: right;">
      <button type="button" class="btn btn-outline-warning" (click)="actuallyStep = 4">Retour</button>&nbsp;
      <button type="button" class="btn btn-outline-info" (click)="actuallyStep = 6">Suivant ▶︎</button>
    </div>
  </div>

  <div *ngIf="actuallyStep == 6" class="step step6">
    <p class="form-group mb-3">
      Date d'embauche <input type="date" [formControl]="date_embauche"/>
    </p>
    <p class="form-group mb-3">
      Type <input type="text" [formControl]="type_visiteur" readonly/>
    </p>
    <button type="button" class="btn btn-outline-danger" (click)="return()">Annuler</button>&nbsp;
    <button type="button" class="btn btn-outline-warning" (click)="actuallyStep = 5">Retour</button>&nbsp;
    <button type="button" style="float: right;" class="btn btn-outline-success" (click)="onSubmitAjoutVisiteur()">
      S'inscrire
    </button>&nbsp;
  </div>

  <br>
  <a routerLink="/login">Vous avez déjà un compte ?</a>
  <a routerLink="">Retour à la page d'accueil</a>
</div>
</body>
