<div class="container">
  <h2>Détails du Frais</h2>

  <div class="form-group">
    <label for="anneemois">Année et mois:</label>
    <input type="text" class="form-control" id="anneemois" [formControl]="anneemois">
  </div>

  <div class="form-group">
    <label for="nbjustificatifs">Nombre de justificatifs:</label>
    <input type="number" class="form-control" id="nbjustificatifs" [formControl]="nbjustificatifs">
  </div>

  <div class="form-group">
    <label for="montantvalide">Montant valide:</label>
    <input type="number" class="form-control" id="montantvalide" [formControl]="montantvalide">
  </div>

  <div class="form-group">
    <label for="id_etat">État:</label>
    <select class="form-control" id="id_etat" [formControl]="id_etat">
      <option *ngFor="let etat of getListeEtat() | async" [value]="etat.id_etat">
        {{ etat.lib_etat }}
      </option>
    </select>
  </div>

  <br>

  <button type="button" class="btn btn-outline-primary" (click)="onSubmitFicheFrais()">Envoyer</button>&nbsp;
  <button type="button" class="btn btn-outline-danger" (click)="return()">Annuler</button>&nbsp;
  <button type="button" class="btn btn-outline-warning" (click)="deleteFrais(id_frais)">Supprimer</button>&nbsp;
  <button type="button" class="btn btn-outline-secondary" (click)="getFraisHorsForfait(id_frais)">Frais Hors Forfait</button>
</div>
