<body>
  <h1>Identifiez-vous</h1>
  <div class="container">
    <p class="form-group mb-3">
      Nom d'utilisateur <input type="text" placeholder="Ex : nbena" [formControl]="email"/>
    </p>
    <div class="form-group mb-3">
      Mot de passe
      <div class="password-container">
        <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="•••••••••••" [formControl]="password"/>
        <button class="toggle-password" (mouseenter)="showText=true" (mouseleave)="showText=false" (click)="voirMdp()">
          👁️
        </button>
        <span *ngIf="showText" style="display:none;" class="show-password-text">Afficher</span>
      </div>
    </div>
    <button type="button" class="btn btn-outline-success" (click)="onSubmit()">Envoyer</button>&nbsp;
    <button type="button" class="btn btn-outline-danger" (click)="return()">Annuler</button>
    <a routerLink="">Retour à la page d'accueil</a>

  </div>
</body>
