<div class="section_inner">
  <div class="login">
    <div class="login_inner">
      <div class="login_inside">
        <div class="login_content">
          <div class="login_intro">
            <h1 class="title title--xlarge">
              <div class="ifp1_title">
                La nouvelle génération de solutions pour les praticiens
              </div>
            </h1>
            <h2 class="title title--small">
              <p>Équipez vous de GSB et gagnez du temps au quotidien</p>
            </h2>
            <ul class="login_list">
              <li class="icon-text">
                <p class="paragraph icon-text__text paragraph--bold">
                  <mat-icon class="icon-text__icon">check</mat-icon>
                  Plus de 340 000 personnels de santé utilisent GSB
                </p>
              </li>
              <li class="icon-text">
                <p class="paragraph icon-text__text paragraph--bold">
                  <mat-icon class="icon-text__icon">check</mat-icon>
                  Plus de 80 millions de patients gèrent leur santé avec GSB
                </p>
              </li>
              <li class="icon-text">
                <p class="paragraph icon-text__text paragraph--bold">
                  <mat-icon class="icon-text__icon">check</mat-icon>
                  Le plus haut niveau de protection des données de santé
                </p>
              </li>
            </ul>
            <button type="button" class="button button-primary">En savoir plus</button>
          </div>
        </div>
        <div class="login_media">
          <img src="../../../../assets/img/practioner-on-tablet.png" alt="" width="512" height="476">
        </div>
      </div>
    </div>
  </div>
</div>
