<div class="popup-container">
  <div class="container">
    <h3 mat-dialog-title>Informations du visiteur</h3>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
    <mat-form-field class="form-group">
      <mat-label>Nom:</mat-label>
      <input matInput type="text" id="nom_visiteur" [formControl]="nom_visiteur">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Prénom:</mat-label>
      <input matInput type="text" id="prenom_visiteur" [formControl]="prenom_visiteur">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Laboratoire :</mat-label>
      <mat-select id="id_laboratoire" [formControl]="id_laboratoire">
        <mat-option *ngFor="let laboratoire of getListeLaboratoire() | async" [value]="laboratoire.id_laboratoire">
          {{ laboratoire.nom_laboratoire }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Affectation :</mat-label>
      <mat-select id="affectation" [formControl]="affectations">
        <mat-option *ngFor="let affectation of getListeAffectation()" [value]="affectation.id_region">
          {{ affectation.nom_region }} - {{ affectation.jjmmaa }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-button">
      <div style="padding-bottom: 3px">
        <button type="button" class="btn btn-outline-info">Ajouter une Affectation</button><br>
      </div>
      <div style="padding-bottom: 3px">
        <button type="button" class="btn btn-outline-success" (click)="onSubmit()">Modifier l'affectation</button><br>
      </div>
      <div>
        <button type="button" class="btn btn-outline-danger">Supprimer l'affectation</button>
      </div>
    </div>
    <app-error-message [errorMessage]="errorMessage"></app-error-message>
  </div>
</div>
