<div class="popup-container">
  <div *ngIf="valuePage == 1" class="container">
    <h3 mat-dialog-title>Informations du visiteur</h3>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
    <mat-form-field class="form-group">
      <mat-label>Nom:</mat-label>
      <input matInput type="text" id="nom_visiteur" [formControl]="nom_visiteur">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Prénom:</mat-label>
      <input matInput type="text" id="prenom_visiteur" [formControl]="prenom_visiteur">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Laboratoire :</mat-label>
      <mat-select id="id_laboratoire" [formControl]="id_laboratoire">
        <mat-option *ngFor="let laboratoire of getListeLaboratoire() | async" [value]="laboratoire.id_laboratoire">
          {{ laboratoire.nom_laboratoire }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Affectation :</mat-label>
      <mat-select id="affectation" [formControl]="affectations">
        <mat-option *ngFor="let affectation of getListeAffectation()" [value]="affectation.id_region">
          {{ affectation.nom_region }} - {{ affectation.jjmmaa }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-button">
      <button type="button" class="btn btn-outline-primary" (click)="valuePage = 2">Ajouter une Affectation</button>&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="valuePage = 3">Modifier l'affectation</button>
    </div>
  </div>

  <div *ngIf="valuePage == 2" class="container ajoutAfectation">
    <h3 mat-dialog-title>Ajouter une affectation</h3>
    <mat-form-field class="form-group">
      <mat-label>Nom du visiteur</mat-label>
      <input matInput type="text" id="ajtNom_visiteur" [formControl]="nom_visiteur">
    </mat-form-field>
    <div class="form-button">
      <button type="button" class="btn btn-outline-success">Ajouter</button>
    </div>
  </div>
  <div *ngIf="valuePage == 3" class="container updateAffectation">
    <h1>Salut {{ valuePage }}</h1>
    <div class="form-button">
      <button type="button" class="btn btn-outline-danger" (click)="deleteAffectation">Supprimer</button>
      <button type="button" class="btn btn-outline-success">Modifier</button>
    </div>
  </div>
</div>
<app-error-message [errorMessage]="errorMessage"></app-error-message>
