<div class="popup-container">
  <div class="container">
    <h3 mat-dialog-title>Informations du visiteur</h3>
      <div class="form-group">
        <label for="nom_visiteur">Nom:</label>
        <input type="text" class="form-control" id="nom_visiteur" disabled>
      </div>
      <div class="form-group">
        <label for="prenom_visiteur">Prénom:</label>
        <input type="text" class="form-control" id="prenom_visiteur" disabled>
      </div>
    <div class="form-group">
      <label for="id_laboratoire">Laboratoire :</label>
      <select class="form-control" id="id_laboratoire" [formControl]="id_laboratoire">
        <option value="">Sélectionner un laboratoire</option>
        <option *ngFor="let laboratoire of getListeLaboratoire() | async" [value]="laboratoire.id_laboratoire" disabled>
          {{ laboratoire.nom_laboratoire }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_secteur">Secteur :</label>
      <select class="form-control" id="id_secteur" [formControl]="id_secteur">
        <option value="">Sélectionner un secteur</option>
        <option *ngFor="let secteur of getListeSecteur() | async" [value]="secteur.id_secteur">
          {{ secteur.lib_secteur }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_region">Secteur :</label>
      <select class="form-control" id="id_region" [formControl]="id_region">
        <option value="">Sélectionner une région</option>
        <option *ngFor="let region of getListeRegion() | async" [value]="region.id_region">
          {{ region.nom_region }}
        </option>
      </select>
    </div>
      <button type="button" mat-dialog-actions class="btn btn-primary buttonSubmit" (click)="onSubmit()">Modifier</button>
  </div>
</div>

