.container {
  padding: 0;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.content-left {
  overflow: auto;
  width: 54%;
  padding: 40px;
  max-width: 100%;
  max-height: 100%;
}

.content-right {
  background: #f1f7fe;
  overflow: auto;
  width: 46%;
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.picture {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 100%;
}

.picture_img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.champ {
  display: flex;
}

.button {
  align-self: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto, Helvetica Neue, sans-serif", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  width: fit-content;
  word-break: keep-all;
  border-radius: 7px;
  color: white;
}

.button-primary {
  background-color: #107aca;
  color: white;
}

.button-primary:hover {
  background-color: #045fae;
  color: white;
}

.tittle {
  font-weight: bold;
  font-family: "Roboto, Helvetica Neue, sans-serif", sans-serif;
  font-size: 18px;
}

.confirmation-message {
  text-align: center;
  padding: 270px;
  background-color: #f9f9f9;
}
