<div class="container" *ngIf="valuePage == false;">
  <div class="content-left">
    <div class="content-tittle">
      <p class="tittle">Vous êtes praticien ? Un de nos conseillers vous recontacte</p>
    </div>

    <div class="champ">
      <mat-form-field class="form-group">
        <mat-label>Nom</mat-label>
        <input matInput type="text" id="nom" [formControl]="nom" required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field class="form-group">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" id="prenom" [formControl]="prenom" required>
      </mat-form-field>
    </div>

    <div class="champ">
      <mat-form-field class="form-group">
        <mat-label>Code postal cabinet</mat-label>
        <input matInput type="text" id="codePostal" [formControl]="codePostal" required>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field class="form-group">
        <mat-label>Téléphone portable</mat-label>
        <input matInput type="text" id="telephone" [formControl]="telephone" required>
      </mat-form-field>
    </div>

    <mat-form-field class="form-group" style="width: 100%">
      <mat-label>Votre spécialité</mat-label>
      <input matInput type="text" id="specialite" [formControl]="specialite" [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let spec of getListeSpecialite() | async" [value]="spec.lib_specialite">
          {{ spec.lib_specialite }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-group" style="width: 100%">
      <mat-label>Adresse email</mat-label>
      <input matInput
             placeholder="pat@example.com"
             [formControl]="email"
             (blur)="updateErrorMessage()"
             required>
      @if (email.invalid) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="form-group" style="width: 100%">
      <mat-label>Objet de votre demande</mat-label>
      <input matInput type="text" id="objetDemande" [formControl]="objetDemande" required>
    </mat-form-field>

    <p>* Champs obligatoires</p>
    <div style="padding-bottom: 1px">
      <app-error-message [errorMessage]="errorMessage" style="padding: 1px"></app-error-message>
    </div>

    <button type="button" class="button button-primary" (click)="changeValue()">Valider ma demande</button>
  </div>

  <div class="content-right">
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
    <div class="picture">
      <img class="picture_img" src="../../../../assets/img/contact-popup.png" alt="">
    </div>
  </div>
</div>
<div class="container confirmation-message" *ngIf="valuePage;">
  <div class="alert alert-success" role="alert">
    <p>Votre demande a bien été envoyée. Le délai de réponse est de 2 jours ouvrés.</p>
  </div>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</div>

