<div class="container mat-elevation-z8">
  <h1>Ajouter un Frais</h1>

  <mat-form-field class="form-group">
    <mat-label>Année et mois:</mat-label>
    <input matInput type="text" id="anneemois" [formControl]="anneemois">
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Nombre de justificatifs:</mat-label>
    <input matInput type="number" id="nbjustificatifs" [formControl]="nbjustificatifs">
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Montant valide:</mat-label>
    <input matInput type="number" id="montantvalide" [formControl]="montantvalide">
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>État:</mat-label>
    <mat-select id="id_etat" [formControl]="id_etat">
      <mat-option *ngFor="let etat of getListeEtat() | async" [value]="etat.id_etat">
        {{ etat.lib_etat }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-error-message [errorMessage]="errorMessage"></app-error-message>
  <div class="form-button">
    <button type="button" class="btn btn-outline-danger" (click)="return()">Annuler</button>&nbsp;
    <button type="button" class="btn btn-outline-success" (click)="onSubmitAjoutFrais()">Ajouter</button>
  </div>
</div>
