<div>
  <div>
    <app-menu-user></app-menu-user>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Informations du visiteur</h3>
        <form>
          <div class="form-group">
            <label for="id_laboratoire">ID Laboratoire:</label>
            <input type="text" class="form-control" id="id_laboratoire">
          </div>
          <div class="form-group">
            <label for="id_secteur">ID Secteur:</label>
            <input type="text" class="form-control" id="id_secteur">
          </div>
          <div class="form-group">
            <label for="nom_visiteur">Nom:</label>
            <input type="text" class="form-control" id="nom_visiteur"  disabled>
          </div>
          <div class="form-group">
            <label for="prenom_visiteur">Prénom:</label>
            <input type="text" class="form-control" id="prenom_visiteur"  disabled>
          </div>
          <div class="form-group">
            <label for="adresse_visiteur">Adresse:</label>
            <input type="text" class="form-control" id="adresse_visiteur">
          </div>
          <div class="form-group">
            <label for="cp_visiteur">Code postal:</label>
            <input type="text" class="form-control" id="cp_visiteur">
          </div>
          <div class="form-group">
            <label for="ville_visiteur">Ville:</label>
            <input type="text" class="form-control" id="ville_visiteur">
          </div>
          <div class="form-group">
            <label for="date_embauche">Date d'embauche:</label>
            <input type="text" class="form-control" id="date_embauche"  disabled>
          </div>
          <div class="form-group">
            <label for="login_visiteur">Login:</label>
            <input type="text" class="form-control" id="login_visiteur"  disabled>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" class="form-control" id="password" >
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
