.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent pour la superposition */
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  background-color: #ffe6e6;
  color: #d60000;
  border: 1px solid #d60000;
  padding: 10px;
  width: 60%;
}
