<div class="container">
  <div>
    <h1>Vos informations</h1>
    <div class="champ">
      <mat-form-field style="padding-bottom: 5px;width: 100%">
        <mat-label>Nom</mat-label>
        <input matInput #input2 maxlength="25" [formControl]="nom_visiteur">
        <mat-hint align="end">{{input2.value.length}}/25</mat-hint>
      </mat-form-field>&nbsp;&nbsp;
      <mat-form-field style="padding-bottom: 5px;width: 100%">
        <mat-label>Prénom</mat-label>
        <input matInput #input3 maxlength="25" [formControl]="prenom_visiteur">
        <mat-hint align="end">{{input3.value.length}}/25</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="padding-bottom: 5px;width: 100%">
        <mat-label>Adresse</mat-label>
        <input matInput #input4 maxlength="50"
               [formControl]="adresse_visiteur" (input)="searchAddress()">
        <mat-hint align="end">{{input4.value.length}}/50</mat-hint>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let address of adresses" (click)="selectAddress(address)" style="cursor: pointer">
          {{ address.label }}
        </mat-list-item>
      </mat-list>
      <div class="champ">
        <mat-form-field style="padding-bottom: 5px;width: 100%">
          <mat-label>Code Postal</mat-label>
          <input matInput #input5 maxlength="5" [formControl]="cp_visiteur"
                 (keypress)="validateNumberInput($event)">
          <mat-hint align="end">{{input5.value.length}}/5</mat-hint>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field style="padding-bottom: 5px;width: 100%">
          <mat-label>Ville</mat-label>
          <input matInput #input6 maxlength="45" [formControl]="ville_visiteur">
          <mat-hint align="end">{{input6.value.length}}/45</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="champ">
      <mat-form-field style="padding-bottom: 5px;width: 100%">
        <mat-label>Secteur</mat-label>
        <mat-select [formControl]="id_secteur">
          <mat-option *ngFor="let secteur of getListeSecteur() | async" [value]="secteur.id_secteur">
            {{ secteur.lib_secteur }}
          </mat-option>
        </mat-select>
      </mat-form-field>&nbsp;&nbsp;
      <mat-form-field style="padding-bottom: 5px;width: 100%">
        <mat-label>Laboratoire</mat-label>
        <mat-select [formControl]="id_laboratoire">
          <mat-option *ngFor="let laboratoire of getListeLaboratoire() | async"
                      [value]="laboratoire.id_laboratoire">
            {{ laboratoire.nom_laboratoire }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button type="button" style="float: right;" class="button button-primary"
            (click)="onSubmitUpdateVisiteur()">
      ACTUALISER
    </button>
  </div>
  <div>
    <h1>Modifier votre mot de passe</h1>
    <div>
      <mat-form-field style="width: 100%;">
        <mat-label>Mot de passe actuel</mat-label>
        <input matInput [type]="actuallyHide ? 'password' : 'text'" [formControl]="actuallyPassword">
        <button mat-icon-button matSuffix (click)="actuallyHide = !actuallyHide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="actuallyHide">
          <mat-icon>{{actuallyHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="champ">
        <mat-form-field style="width: 100%;">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field style="width: 100%;">
          <mat-label>Répétez votre nouveau mot de passe</mat-label>
          <input matInput [type]="repeatHide ? 'password' : 'text'" [formControl]="repetPassword">
          <button mat-icon-button matSuffix (click)="repeatHide = !repeatHide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="repeatHide">
            <mat-icon>{{repeatHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <button type="button" style="float: right;" class="button button-primary"
            (click)="onSubmitUpdatePassword()">
      MODIFIER MON MOT DE PASSE
    </button>
  </div>
</div>
