.champ {
  display: flex;
}

.container {
  padding: 5px;
  max-width: 50%;
  max-height: 100%;
  padding-bottom: 150px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.button {
  align-self: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto, Helvetica Neue, sans-serif", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  word-break: keep-all;
  border-radius: 7px;
  color: white;
  width: 100%;
}

.button-primary {
  background-color: #107aca;
  color: white;
  align-self: flex-start;
  transition: all .3s;
}

.button-primary:hover {
  background-color: #045fae;
  color: white;
  transition: all .3s !important;
}
