.container {
  margin: 20px auto;
  align-items: center;
}

.form-group {
  display: flex;
}

.form-button {
  padding-bottom: 10px;
  text-align: right;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
