<div class="container">
  <table>
    <thead>
    <tr>
      <th>ID Frais HF</th>
      <th>Date</th>
      <th>Montant</th>
      <th>Libellé</th>
      <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fraisHF of getListeFraisHorsForfait() | async">
      <td>{{ fraisHF.id_fraishorsforfait }}</td>
      <td>{{ fraisHF.date_fraishorsforfait }}</td>
      <td>{{ fraisHF.montant_fraishorsforfait }}</td>
      <td>{{ fraisHF.lib_fraishorsforfait }}</td>
      <td style="text-align: center"><button (click)="afficherDetailsFraisHf(fraisHF.id_frais)" class="btn btn-info bi bi-plus"></button></td>
    </tr>
    </tbody>
  </table>
</div>
