<div class="container">
  <section class="home-section">
    <table>
      <thead>
      <tr>
        <th>ID Frais HF</th>
        <th>Date</th>
        <th>Montant</th>
        <th>Libellé</th>
        <th>Modifier</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fraisHF of getListeFraisHorsForfait() | async">
        <td>{{ fraisHF.id_fraishorsforfait }}</td>
        <td>{{ fraisHF.date_fraishorsforfait }}</td>
        <td>{{ fraisHF.montant_fraishorsforfait }}</td>
        <td>{{ fraisHF.lib_fraishorsforfait }}</td>
        <td style="text-align: center">
          <button (click)="afficherDetailsFraisHf(fraisHF.id_fraishorsforfait)" class="btn btn-warning bi bi-plus"></button>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-outline-danger" style="text-align: left" (click)="return()">Annuler</button>&nbsp;
    <button type="button" class="btn btn-outline-info" style="text-align: left" (click)="ajoutFraisHF()">Ajouter</button>&nbsp;
  </section>
</div>
