<app-menu></app-menu>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>ID Frais</th>
      <th>Année/Mois</th>
      <th>Etat</th>
      <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let frais of getListeFrais() | async">
      <td>{{ frais.id_frais }}</td>
      <td>{{ frais.anneemois }}</td>
      <td>{{ frais.lib_etat }}</td>
      <td style="text-align: center"><button (click)="afficherDetailsFrais(frais.id_frais)" class="btn btn-info bi bi-plus"></button></td>
    </tr>
    </tbody>
  </table>
</div>
