/* dashboard-menu.component.css */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 220px; /* Largeur du menu */
  background-color: #23344d; /* Couleur de fond du menu */
  position: fixed;
  height: 100%; /* Hauteur du menu à 100% de la fenêtre */
}

li {
  padding: 15px;
  border-bottom: 1px solid #23344d; /* Bordure entre les éléments du menu */
}

a {
  text-decoration: none;
  color: #ecf0f1; /* Couleur du texte des liens */
  display: block;
  padding: 10px;
  transition: background-color 0.3s; /* Ajoute une transition pour l'effet de survol */
  border-radius: 10px;
}

a:hover {
  background-color: #3498db; /* Couleur de fond au survol */
  border-radius: 10px;
}

/* Ajoute un style pour le titre du menu */
p {
  color: #ecf0f1;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}
