<div class="popup-container">
  <div class="container">
    <h3 mat-dialog-title>Informations du visiteur</h3>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>

    <mat-form-field class="form-group">
      <mat-label>Nom:</mat-label>
      <input matInput type="text" id="nom_visiteur" [formControl]="nom_visiteur">
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Prénom:</mat-label>
      <input matInput type="text" id="prenom_visiteur" [formControl]="prenom_visiteur">
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Laboratoire :</mat-label>
      <mat-select id="id_laboratoire" [formControl]="id_laboratoire">
        <mat-option *ngFor="let laboratoire of getListeLaboratoire() | async" [value]="laboratoire.id_laboratoire">
          {{ laboratoire.nom_laboratoire }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group" *ngIf="valuePage == 1">
      <mat-label>Affectation :</mat-label>
      <mat-select id="id_travail" [formControl]="id_travail">
        <mat-option *ngFor="let affectation of getListeAffectationVisiteur() | async" [value]="affectation.id_travail">
          {{ affectation.nom_region }} - {{ affectation.jjmmaa }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h3 mat-dialog-title *ngIf="valuePage == 2">Ajouter une affectation</h3>
    <h3 mat-dialog-title *ngIf="valuePage == 3">Affectation sélectionnée</h3>

    <mat-form-field class="form-group" *ngIf="valuePage == 2 || valuePage == 3">
      <mat-label>Rôle :</mat-label>
      <input matInput type="text" id="role_visiteur" [formControl]="role_visiteur">
    </mat-form-field>

    <mat-form-field class="form-group" *ngIf="valuePage == 2 || valuePage == 3">
      <mat-label>Date :</mat-label>
      <input matInput type="text" id="jjmmaa" [formControl]="jjmmaa">
    </mat-form-field>

    <mat-form-field class="form-group" *ngIf="valuePage == 2 || valuePage == 3">
      <mat-label>Région :</mat-label>
      <mat-select id="id_region" [formControl]="id_region">
        <mat-option *ngFor="let region of getListeRegionSecteur() | async" [value]="region.id_region" (click)="actualiseSecteur(region.id_secteur)">
          {{ region.nom_region }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group" *ngIf="valuePage == 2 || valuePage == 3">
      <mat-label>Secteur :</mat-label>
      <mat-select id="id_secteur" [formControl]="id_secteur">
        <mat-option *ngFor="let secteur of getListeRegionSecteur() | async" [value]="secteur.id_secteur">
          {{ secteur.lib_secteur }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-button" *ngIf="valuePage == 1">
      <button type="button" class="btn btn-outline-primary" (click)="ajoutPage()">Ajouter une Affectation</button>&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="updatePage()">Modifier l'affectation</button>
    </div>
    <div class="form-button" *ngIf="valuePage == 2">
      <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon aria-label="Retour">arrow_back</mat-icon>
      </button>
      <button type="button" class="btn btn-outline-success">Ajouter</button>
    </div>
    <div class="form-button" *ngIf="valuePage == 3">
      <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon aria-label="Retour">arrow_back</mat-icon>
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="deleteAffectation()">Supprimer</button>&nbsp;
      <button type="button" class="btn btn-outline-success">Modifier</button>
    </div>
  </div>
</div>
<app-error-message [errorMessage]="errorMessage"></app-error-message>
