<body class="body">
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/frais/liste">Liste Frais</a></li>
        <li><a routerLink="/frais/ajout">Ajout Frais</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login">Se connecter</a></li>
        <li><a (click)="logout()">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>
</div>
</body>
