.body {
  padding-top: 70px; /* Ajuster la marge supérieure pour éviter que le menu ne recouvre le contenu */
}

.container {
  width: 100%; /* Utilisez 100% de la largeur de la fenêtre */
}

.navbar {
  border: none;
  position: fixed; /* Fixe la barre de navigation en haut de la page */
  width: 100%; /* Prend 100% de la largeur */
  top: 0; /* Place la barre en haut de la page */
  z-index: 1000; /* Assure que la barre de navigation est au-dessus du contenu */
  background-color: #f0f0f0; /* Couleur de fond de la barre de navigation */
  left: 0;
}

.navbar-nav {
  margin: 0; /* Réinitialisez les marges de la liste */
  display: inline-block; /* Afficher les éléments du menu en ligne */

}

.navbar-nav > li {
  display: inline-block;
}

.navbar-nav > li > a {
  padding: 15px; /* Ajoutez de l'espace autour des liens pour une meilleure accessibilité tactile */
}

.navbar-right {
  float: right; /* Alignez les éléments du côté droit de la barre de navigation */
  display: inline-block; /* Afficher les éléments du menu en ligne */

}

.navbar-default .navbar-nav > li > a {
  color: black; /* Couleur du texte des liens du menu */
  display: inline-block; /* Afficher les éléments du menu en ligne */
  padding: 15px; /* Ajouter de l'espace autour des liens pour une meilleure accessibilité tactile */
  text-decoration: none; /* Supprimer la soulignement des liens */
  font-family: 'Arial', sans-serif; /* Police d'écriture professionnelle */
  font-weight: bold; /* Texte en gras */
}

.navbar-default .navbar-nav .active > a {
  background-color: #3071a9; /* Couleur de fond du lien actif */
}

.navbar-default .navbar-toggle {
  border-color: #ffffff; /* Couleur de la bordure du bouton de menu déroulant */
}

.navbar-nav > li > a:hover {
  background-color: papayawhip; /* Couleur de fond lorsqu'un lien est survolé */
}
