<body class="body">
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Accueil</a></li>
        <li *ngIf="utilisateurConnecte" class="deroulant">
          <a href="#">Frais &ensp;</a>
          <ul class="sous">
            <li><a routerLink="/frais/liste">Liste Frais</a></li>
            <li><a routerLink="/frais/ajout">Ajout Frais</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="custom-search-form">
            <input class="custom-search-input" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 custom-search-button" type="submit">Rechercher</button>
          </form>
        </li>
        <li><a *ngIf="utilisateurConnecte == false" routerLink="/login">Se connecter</a></li>
        <li><a *ngIf="utilisateurConnecte" (click)="logout()">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>
</div>
</body>
